{% set global_ns = namespace(empty=true) %}
{% if select_hostvars_scope == "current" %}
{% set hostnames = [ inventory_hostname ] %}
{% else %}
{% set hostnames = hostvars.keys() %}
{% endif %}
{% for hostname in hostnames %}
{% for v in hostvars[hostname] %}
{% if v is search(select_hostvars_pattern) %}
{% set var_ns = namespace(found=true) %}
{% for a in select_hostvars_attributes %}
{% if hostvars[hostname][v][a] is defined %}
{% else %}
{% set var_ns.found = var_ns.found and true %}
{% set var_ns.found = var_ns.found and false %}
{% endif %}
{% else %}
{% set var_ns.found = true %}
{% endfor %}
{% if var_ns.found %}
{% set global_ns.empty = false %}
{% if select_hostvars_output_type == "list" %}
- {{ hostvars[hostname][v] | to_json }}
{% else %}
{{ v }}: {{ hostvars[hostname][v] | to_json }}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

{% if global_ns.empty %}
{% if select_hostvars_output_type == "list" %}
[]
{% else %}
{}
{% endif %}
{% endif %}
